:root {
  --light-blue: #b8d3e4;
  --dark-blue: #71b9e6;
  --pink: #d35c4d;
  --yellow: #ffd171;
  --brown: #744c24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.43;
  text-rendering: optimizeSpeed;
}

.app {
  margin: 0 auto;
  text-align: center;
  background-image: url("https://cdn.dribbble.com/users/570843/screenshots/7033408/media/4d96dfca7d83354105647f7dc9a88e36.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: var(--brown);
}

.app__title {
  font-size: 60px;
  padding: 60px 0 20px 0;
  color: var(--brown);
} 

.app__content {
  max-width: 500px;
  margin: 0 auto;
}

.app__input-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.app__input {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--brown);
  padding: 10px 20px;
  border: 4px solid var(--light-blue);
  border-radius: 10px;
  outline: none;
  width: 70%;
}

.app__btn {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  color: var(--brown);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.app__btn + .app__btn {
  margin-left: 10px;
}

.app__btn--submit {
  padding: 10px 20px;
  font-weight: 800;
  background-color: var(--light-blue);
  outline: none;
}

.app__btn--submit:hover {
  background-color: var(--dark-blue);
  transition: all 0.3s ease;

}

.app__list {
}

.app__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid var(--brown);
}

.app__item.completed span{
  text-decoration: line-through;
}

.app__item span {
  max-width: 30%;
  line-height: 24px;
  max-height: calc(24px * 3);
  overflow-y: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.app-item__btns {

}

.app__btn--complete,
.app__btn--edit,
.app__btn--delete {
  padding: 4px 8px;
}

.app__btn--complete {
  background-color: rgb(102, 163, 102);
  color: #fff;
}

.app__btn--complete:hover {
  background-color: rgb(47, 129, 47);
  transition: all 0.3s ease;
}

.app__btn--edit {
  background-color: rgb(233, 176, 54);
  color: #fff;
}

.app__btn--edit:hover {
  background-color: rgb(196, 139, 16);
  transition: all 0.3s ease;  
}

.app__btn--edit.editting {
  background-color: rgb(170, 116, 0);
  transition: all 0.5s ease;
}

.app__btn--delete {
  background-color: var(--pink);
  color: #fff;
}

.app__btn--delete:hover {
  background-color: #91382c;
  transition: all 0.3s ease;  
}

@media (max-width: 740px) {
  .app__content {
    max-width: 300px;
  }
  .app__item span {
    max-width: 60%;
  }

  .app-item__btns {
    display: flex;
    flex-direction: column;
  }

  .app-item__btns .app__btn {
    margin-bottom: 10px;
  }
}